@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Inter:wght@400;700&display=swap');
:root {
  --scissor-gradient: radial-gradient(
    circle,
    #ec9e0e,
    #eca114,
    #eca419,
    #eca61e,
    #eca922
  );
  --paper-gradient: linear-gradient(
    to bottom,
    #5671f5,
    #536ef5,
    #4f6bf5,
    #4c68f4,
    #4865f4
  );
  --rock-gradient: linear-gradient(
    to bottom,
    #dc2e4e,
    #dc3352,
    #dd3756,
    #dd3c59,
    #dd405d
  );

  --dark-txt: hsl(229, 25%, 31%);
  --score-txt: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --bg-gradient: linear-gradient(
    to bottom,
    #1f3756,
    #1b2e4f,
    #182648,
    #161d41,
    #141539
  );

  --ff: 'Barlow Semi Condensed', sans-serif;
  --weight-1: 600;
  --weight-2: 700;
  --transp-white: rgba(255, 255, 255, 0.6);
  --transp-blue: rgba(96, 110, 133, 0.9);
  --gray: rgb(80, 80, 80);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}
.global__size {
  width: 50%;
  margin: auto;
}
body {
  background-image: var(--bg-gradient);
  height: 100vh;
  padding-top: 3rem;
}

/* LOGO + SCORE */
header {
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.score__wrapper {
  background-color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 7px;
}
.score__wrapper h1 {
  color: var(--score-txt);
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.score__wrapper .score {
  font-size: 2rem;
  color: var(--dark-txt);
  font-weight: var(--weight-2);
  text-align: center;
}
/* MODAL WITH RULES */
.popup_rules {
  background-color: white;
  position: absolute;
  z-index: 5;
  top: 2rem;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
.popup_rules .closing_icon {
  text-align: end;
}
.closing_icon img {
  cursor: pointer;
}
/* MAIN CONTENT */
main {
  padding-top: 5rem;
  position: relative;
}
/* FIRST COMPONENT : CHOICE */
#triangle_bckg {
  position: absolute;
  top: 10rem;
  z-index: -1;
}
.roles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 70px;
}
.roles__container .roles:nth-child(1){
  grid-area: 1 / 1 / 2 / 2; 
}
.roles__container .roles:nth-child(2){
  grid-area: 1 / 3 / 2 / 4; 
}
.roles__container .roles:nth-child(3){
  grid-area: 2 / 2 / 3 / 3; 
}
#paper_outter {
  background-color: #4865f4;
  border-bottom: 7px solid #3549af;
}
#scissors_outter {
  background-color: #eca922;
  border-bottom: 7px solid #ca880c;
}
#rock_outter {
  background-color: #dd405d;
  border-bottom: 7px solid #bb2742;
}
.outter__circle {
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  min-width: 11rem;
  min-height: 11rem;
  cursor: pointer;
  transition: 0.3s;
}
.outter__circle:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 100px var(--transp-blue), 0 0 25px #cad1ee;
}
.inner__circle {
  background-color: whitesmoke;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  min-width: 8rem;
  min-height: 8rem;
  border-top: 7px solid #dfe5fe;
}
/* SECOND COMPONENT : BATTLE */
.battle__wrapper {
  width: 100%;
}
.battle__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}
.battle__cards h2 {
  color: whitesmoke;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.battle__wrapper p strong {
  font-size: 2.5rem;
  color: white;
  font-weight: var(--weight-2);
}
.win__btn {
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.battle__wrapper button {
  margin-top: 0.7rem;
  border: var(--gray) 1px solid;
  background: none;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  width: 10rem;
  padding: 0.5rem 0;
  color: var(--dark-txt);
  font-weight: var(--weight-2);
  letter-spacing: 1.7px;
  transition: 0.4s;
}
.battle__wrapper button:hover {
  opacity: 0.8;
}
/* FOOTER */
footer {
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .rules__wrapper {
   border: 2px solid var(--header-outline);
   padding: 0.3rem 2rem;
   border-radius: 7px;
   transition: 0.3s;
}
footer .rules {
  border: none;
  outline: none;
  background: none;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}
footer .rules__wrapper:hover {
  transform: scale(1.03);
  opacity: 0.7;
}